h1 {
  color: red;
}

.main-section {
  background-color: #f7f7f7;
  height: 500px;
  padding: 30px;
  margin-bottom: 50px;
  border: 5px solid #ac5685;
  border-radius: 10px;
}

a {
  color: purple !important;
}

.main-section a {
  color: green;
}

.main-section > a {
  color: pink;
}

a:hover {
  color: blue;
}

/*
 #aaaaaa = #aaa
 0123456789abcdef

 #2d8 = #22dd88
*/