.social-twitter {
  height: 40px;
  width: 40px;
  background-image: url('twitter.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.img-wrapper,
.svg-wrapper {
  height: 40px;
  width: 40px;
}

.img-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.svg-wrapper {
  background-color: #000000;
  border-radius: 50%;
  display: inline-flex;
  transition: all 2s;
}

.svg-wrapper svg {
  height: 30px;
  width: 30px;
  fill: white;
  margin: auto;
  transition: all 2s;
}

.svg-wrapper:hover {
  background-color: green;
}

.svg-wrapper:hover svg {
  fill: red;
}
